/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/logs/
/storage/framework/cache/data/
/storage/framework/sessions/
/storage/framework/views/
# vendor GitHub'a gider (Plesk composer gerekmez)
.env
.env.plesk
.env.backup
.env.production
.env.local.bak
.phpactor.json
.phpunit.result.cache
/database/database.sqlite
*.zip
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
